@import "tailwindcss";

@theme {
  --color-zinc-850: #1f1f23;
  --color-accent: #6366f1;
  --color-accent-light: #818cf8;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-950 text-zinc-200 antialiased;
}